.link
	text-decoration none
	&_upper
		margin 0 5px
		font-weight 700
		text-transform uppercase
		color #333
		text-transform uppercase
		&:hover
			color #666
	&_orange
		font-weight 700
		color #FEC175
		&:hover
			color #FFCB8F
		